@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center align-items-start mt-5 pt-5" style="margin-bottom: 100px;">
    <div class="col-5">
        <h1 class="fw-bold font-roboto mb-5">Sistema de controle da VetSystem</h1>
        <p class="font-roboto col-8 mb-5">Para efetuar um novo cadastro clique no botão.</p>
        <a class="bg-danger text-decoration-none text-white fw-bold pt-2 pb-2 ps-4 pe-4 mt-1 rounded" asp-controller="Especie" asp-action="Create">Cadastrar</a>
    </div>
    <div class="col-6">
        <img class="col-12" src="~/img/cao-doutor.png"/>
    </div>
</div>
